.p7_nav {
    background-color: #ffc0cb;
}

.p7_nav ul {
    display: inline-flex;
}

.p7_nav li {
    padding: 12px;
    list-style: none;
}

.p7_nav li:hover {
    background-color: #0000ff;
}

.p7_nav {
    color: #ffffff;
}