p {
    line-height: 45px;
    font-size: 22px;
    font-weight: bolder;
}

.amarillo {
    color: #ffff00;
    text-decoration: underline;

}

.morado {
    color: #800080;
    text-decoration: underline;
}